@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
body{
	background:  #ff;
	background-attachment:fixed;
	background-size:cover;
}
.page{
	//background:#39729a;
	padding:30px;
	padding-top:10px;

}


/**
* Inputs
*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(137,98,163, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(137,98,163,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(137,98,163,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(137,98,163,.6);
}

.form-control.error:focus{
  border-color: rgba(185,49,49, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(185,49,49,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(185,49,49,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(185,49,49,.6);
}

.form-control.success:focus{
  border-color: rgba(74,136,134, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(74,136,134,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(74,136,134,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(74,136,134,.6);
}

.form-control{
	font-size:17px;
}

.form-control.error{
	color: red;
	border-color:red;
}

.form-control.success{
	color: green;
	border-color:green;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	//color: #bbb;
	border-color:#bbb;
	background:#e2e2e2;
	opacity:.5;
	  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.checkbox.checked .second-icon, .radio.checked .second-icon {
opacity: 1;
filter: alpha(opacity=100);
color: #1abc9c;
-webkit-transition: color 0.25s linear;
transition: color 0.25s linear;
}
.checkbox .icons .first-icon, .radio .icons .first-icon, .checkbox .icons .second-icon, .radio .icons .second-icon {
display: inline-table;
position: absolute;
left: 0;
top: 0;
background-color: #ffffff;
margin: 0;
opacity: 1;
filter: alpha(opacity=100);
}
/**
* Buttons
*/
.btn{
	width:100%;
	color:#fff;
	font-family: Helvetica Neue Ultra Light, sans-serif;
	font-size:1.2em;
	background: #2E1E65;
	border:0;
	-o-transition: background 0.3s linear;
-moz-transition: background 0.3s linear;
-khtml-transition: background 0.3s linear;
-webkit-transition: background 0.3s linear;
-ms-transition: background 0.3s linear;
transition: background 0.3s linear;
}
.btn:hover{
	color:#fff;
}

.panel{
	border: 0px solid #e2e2e2;
	box-shadow:7px 7px 28px #6a6a6a;
}

.btn.btn-primary,.panel-primary .panel-heading{
	background: #586C96;
}
.btn.btn-primary:hover {
background: #7ea1ea;
}
.btn.btn-warning,.panel-warning .panel-heading{
	background: #F0D49D;
	color:#926E27 !important;
}
.btn.btn-warning:hover {
background: #efc269;
}
.btn.btn-danger,.panel-danger .panel-heading{
	background: #b93131;
}
.btn.btn-danger:hover {
background: #e82e2e;
}
.btn.btn-success,.panel-success .panel-heading{
	background: #4A8886;
}
.btn.btn-success:hover {
background: #66c5c2;
}
.btn.btn-inverse,.panel-inverse .panel-heading{
	background: #1e0330;
	border:1px solid #000;
}
.btn.btn-inverse:hover {
background: #fff;
color:#000;
border:1px solid #bbb;
}
.btn.btn-info,.panel-info .panel-heading{
	background: #6A5C9B;
}
.btn.btn-info:hover {
background: #b08fc7;
}
.btn:disabled{
	background:#1e0330;
	color:#bbb;
}

.btn.btn-download{
	font-size:28px;
}

.panel .panel-heading{
	color:#fff;
}


/**
*	Rows
*/
.row{
	padding:5px;
}

/**
* Typography
*/
h1,h2,h3,h4,h5,h6,.page-title,.btn,.nav,input,.panel-title,.alert{
	font-family: 'Pathway Gothic One', sans-serif;
}



/**
* Progress Bars
*/
.progress-bar{
	background: #586C96;
}
.progress-bar-success{
	background: #4A8886;
}
.progress-bar-info{
	background: #6A5C9B;
}
.progress-bar-warning{
	background: #F0D49D;
}
.progress-bar-danger{
	background: #b93131;
}

/**
* NavBar
*/
.navbar-default{
	background:#2E1E65;
	border-radius:0px;
	border:0;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
	font-size:17px;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#bbb;
}

.navbar-default .navbar-nav>li.active a,.navbar-default .navbar-nav>li.active a, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background:rgba(0,0,0,.5);
	color:#fff;
}
.dropdown-menu,.dropdown-menu li a,.dropdown-menu li a{
	background:rgba(0,0,0,.5) ;
	color:#fff !important;
}
.dropdown-menu li a:hover{
	background:#000;
}
.navbar-default .navbar-nav>li.active a:hover{
	background:rgba(0,0,0,.5);
	color:#bbb;
}
.dropdown{
	background:none;
}

/**
* Alerts
*/
.alert{
	box-shadow:4px 4px 10px #6a6a6a;
}
.alert-success{
	background: #4A8886;
	color:#fff;
	border-color: #4A8886;
}
.alert-info{
	background: #6A5C9B;
	color:#fff;
	border-color: #6A5C9B;
}
.alert-warning{
	background: #F0D49D;
	color:#926E27;
	border-color: #E1BE79;
}
.alert-danger{
	background: #b93131;
	color:#fff;
	border-color: #b93131;
}

img{
	border-radius:10px;
	border:7px solid rgba(255,255,255,1);
	box-shadow:7px 7px 28px #4a4a4a;
	
}
img.clean{
box-shadow:none;
border:none;
}
img.thumbnail{
	display:inline-block !important;
	margin:5px;
}
img.thumbnail-xsmall{
	height:70px;
}
img.thumbnail-small{
	height:90px;
}
img.thumbnail-medium{
	height:110px;
}
img.thumbnail-large{
	height:140px;
}
img.thumbnail-xlarge{
	height:170px;
}
img.thumbnail-xxlarge{
	height:220px;
}

hr,.page-header{
    border:0;
    border-bottom:3px dashed #bbb;
}





@media (max-width:800px){
	img{
		max-width:100%;
	}
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
blockquote, .callout {
  margin: 20px 0;
  padding: 20px 30px 20px 15px;
  border-left: 5px solid #6a6a6a;
  background: rgba(0,0,0,.1);

color:#000;
}
.callout h4 {
  margin-top: 0;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code,
.callout .highlight {
  background-color: #fff;
}

/* Variations */
.callout-danger {
  background-color: rgba(211,23,23,.2);
  border-color: #b93131;
  
}
.callout-warning {
  background-color: rgba(240,212,157,.4);
  border-color: #F0D49D;
}
.callout-info {
  background-color: rgba(137,98,163,.2);
  border-color: #6A5C9B;
}

.callout input[type=button]{
	margin-top:-12px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border:none;
}